*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    padding:0;
    margin:0;
}

body{
    width:100%;
    height:100%;
    .wrapper{
        width:100%;
        height:auto;
        margin:auto;
    }
}

.first{
    width:100%;
    height:800px;
    background-image: linear-gradient(90deg, #404ED9, #9355FD);
    text-align:center;
    border-bottom-left-radius: 300px;

    header{
        padding:40px 50px;
        display:flex;
        width:100%;
        height:150px;
        justify-content: space-between;
        .menubar{
            width:60%;
            height:auto;
            display: flex;
            .logo{
                margin-top:20px;
                background-image: url(logo_white.svg);
                background-repeat: no-repeat;
                background-size: contain;
                width:18%;
                height:50px;
            }
            .menu{
                width:50%;
                height:auto;
                padding-top: 20px;
               
                ul{
                    
                    li{
                        display:inline;
                        padding:0 30px;
                        list-style-type: none;
                        a{
                            text-decoration: none;
                            color:#fff;
                            font-size:15px;
                            font-weight: 600;
                        }
                        a:hover{
                            color:#00BCB0;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
        .login{
            width:31%;
            height:auto;
            
            
            .log{
                
                width:110px;
                height:60px;
                background-color: #956DF8;
                color:#fff;
                font-size:17px;
                border:none;
                border-radius: 10px;
            }
            button{
                width:200px;
                height:60px;
                background-color: #00BCB0;
                color:#fff;
                font-size:17px;
                border:none;
                border-radius: 10px;
            }
        }
    }

   .wrapper{
       width:50%;
       margin:auto;

        h1{
        font-size: 70px;
        font-weight:500;
        line-height:90px;
        color:#fff;
        margin-bottom:10px;
        }

        p{
            font-size: 16px;
            font-weight: 400;
            color:#fff;
            line-height: 30px;
            margin-top: 20px;
            margin-bottom:30px;
        }
    }
}


.second{
    width:100%;
    height:800px;

    
    .form{
        margin:auto;
        width:800px;
        height:600px;
        margin-top:-300px;
        background-color: #fff;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        box-shadow: 0 10px 12px rgba(133, 87, 87, 0.18);
        padding:30px;
        
    }
}

.fourth{
    width:100%;
    height:700px;
    .text{
        width:30.9%;
        margin:auto;

        h1{
            font-size:47px;
            font-weight:500;
            text-align:center;
            color:#1D2C40;
        }
    }

    .textboxes{
        width:80%;
        margin:50px auto;
        height:400px;
        display:flex;
        flex-wrap: wrap;

        .textbox1{
            width:30%;
            height:auto;

            .iconwrapper{
                padding:10px;
                width:26%;
                height:80px;
                border-radius:20px;
                background-color:#f3f0ff;
                margin:auto;

                .icon{
                    width:90%;
                    height:60px;
                    padding:0;
                    margin:0;
                    background-image: url(link.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position:center;
                }
            }
        

            p{
                width:200px;
                height:auto;
                margin:auto;
                text-align: center;
                color:#1D2C40;
                font-size: 16px;
                font-weight:500;
                line-height: 24px;
            }
        }

        .textbox2{
            width:30%;
            height:auto;

            .iconwrapper{
                padding:10px;
                width:26%;
                height:80px;
                border-radius:20px;
                background-color:#f3f0ff;
                margin:auto;

                .icon{
                    width:90%;
                    height:60px;
                    padding:0;
                    margin:0;
                    background-image: url(link.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position:center;
                }
            }
        

            p{
                width:200px;
                height:auto;
                margin:auto;
                text-align: center;
                color:#1D2C40;
                font-size: 16px;
                font-weight:500;
                line-height: 24px;
            }
        }

        .textbox3{
            width:30%;
            height:auto;

            .iconwrapper{
                padding:10px;
                width:26%;
                height:80px;
                border-radius:20px;
                background-color:#f3f0ff;
                margin:auto;

                .icon{
                    width:90%;
                    height:60px;
                    padding:0;
                    margin:0;
                    background-image: url(link.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position:center;
                }
            }
        

            p{
                width:200px;
                height:auto;
                margin:auto;
                text-align: center;
                color:#1D2C40;
                font-size: 16px;
                font-weight:500;
                line-height: 24px;
            }
        }

        .textbox4{
            width:30%;
            height:auto;

            .iconwrapper{
                padding:10px;
                width:26%;
                height:80px;
                border-radius:20px;
                background-color:#f3f0ff;
                margin:auto;

                .icon{
                    width:90%;
                    height:60px;
                    padding:0;
                    margin:0;
                    background-image: url(link.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position:center;
                }
            }
        

            p{
                width:200px;
                height:auto;
                margin:auto;
                text-align: center;
                color:#1D2C40;
                font-size: 16px;
                font-weight:500;
                line-height: 24px;
            }
        }

        .textbox5{
            width:30%;
            height:auto;

            .iconwrapper{
                padding:10px;
                width:26%;
                height:80px;
                border-radius:20px;
                background-color:#f3f0ff;
                margin:auto;

                .icon{
                    width:90%;
                    height:60px;
                    padding:0;
                    margin:0;
                    background-image: url(link.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position:center;
                }
            }
        

            p{
                width:200px;
                height:auto;
                margin:auto;
                text-align: center;
                color:#1D2C40;
                font-size: 16px;
                font-weight:500;
                line-height: 24px;
            }
        }
        
        .textbox6{
            width:30%;
            height:auto;

            .iconwrapper{
                padding:10px;
                width:26%;
                height:80px;
                border-radius:20px;
                background-color:#f3f0ff;
                margin:auto;

                .icon{
                    width:90%;
                    height:60px;
                    padding:0;
                    margin:0;
                    background-image: url(link.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position:center;
                }
            }
        

            p{
                width:200px;
                height:auto;
                margin:auto;
                text-align: center;
                color:#1D2C40;
                font-size: 16px;
                font-weight:500;
                line-height: 24px;
            }
        }

    }
}

footer{
    width:100%;
    height:1100px;
    background-color: #1B1A35;
    border-top-right-radius: 300px;

    .wrapper{
        width:85%;
        height:auto;
        padding-top:150px;

        .container{
            width:100%;
            height:auto;
            display:flex;
            justify-content: space-between;
            padding-bottom: 150px;
    
            .text{
                width:60%;
                height:auto;
    
    
                h1{
                    color:#fff;
                    font-size: 70px;
                }
        
                p{
                    width:50%;
                    font-size:16px;
                    color:#fff;
                    line-height:21px;
                }
        
            }
    
            .button{
                width:30%;
                height:auto;
                margin-top:150px;
    
                button{
                    background-color: #00BCB0;
                    width: 200px;
                    height:70px;
                    border:none;
                    border-radius:10px;
    
                    a{
                        text-decoration: none;
                        color:#fff;
                        font-size:16px;
                    }
                }
            }
        }
      
    }
}

.footer{
    width:85%;
    height:auto;
    display:flex;
    margin: 100px auto;
    justify-content: space-between;
    .text1{
        width:20%;
        height:auto;
        .logo{
            background-image:url(logo_white.svg);
            background-repeat: no-repeat;
            background-size: contain;
            width:50%;
            height:30px;
            margin-bottom: 15px;
        }
        h3{
            font-size:15px;
            color:#55617B;
            margin-bottom: 20px;
        }

        a{
         
           text-decoration: none;
        }
    }

    .text2{
        width:70%;
        height:auto;
        display:flex;
        .textwrapper1{
            width:30%;
            height:auto;
            margin:auto;
            padding:0;
            margin:0 20px;
            #big{
                color:#fff;
                padding: 12px 0;
                font-weight: 700;
                font-size: 14px;
                padding-bottom: 20px;
            }

            a{
                text-decoration: none;

                h3{
                    color: #6D7F99;
                    font-size: 14px;
                    padding: 8px 0;
                    font-weight: 500;
                  
                }
            }
        }

        .textwrapper2{
            width:30%;
            height:auto;
            margin:auto;
            padding:0;
            margin:0 20px;

            #big{
                color:#fff;
                padding: 12px 0;
                font-weight: 700;
                font-size: 14px;
                padding-bottom: 20px;
            }

            a{
                text-decoration: none;

                h3{
                    color: #6D7F99;
                    font-size: 14px;
                    padding: 8px 0;
                    font-weight: 500;
                  
                }
            }
        
        }

        .textwrapper3{
            width:30%;
            height:auto;
            margin:auto;
            padding:0;
            margin:0;

            #big{
                color:#fff;
                padding: 12px 0;
                font-weight: 700;
                font-size: 14px;
            }

            p{
                padding-top: 20px;
                width:150px;
                height:auto;
                color:#6D7F99;
                font-size: 14px;
                margin-bottom: 15px;
            }

            span{
                width:200px;
                height:auto;
                a{
                    text-decoration: none;
                    font-size:20px;
                    color:#00BCB0;
                }
            }
            a{
                text-decoration: none;

                h3{
                    color: #6D7F99;
                    font-size: 14px;
                    padding: 8px 0;
                    font-weight: 500;
                  
                }
            }

        }

        .icon{
            width:200px;
            height:auto;

            .facebook{
                width:50px;
                height:auto;
                margin :20px;
                
            }
        }
    }
}
